/TotalCommand/User/Tclog.txt
/TotalCommand/Cache/tcthumbs.db
/TotalCommand/User
/TotalCommand/Tools/Everything.db
/dnSpy反编译工具绿色版
/Shadowsocks-win-2.5.1/SSR/temp/shadowsocks_2019-10.log
/Shadowsocks-win-2.5.1/SSR/temp
/TotalCommand/User/History.ini
/BeyondCompare
/Shadowsocks-win-2.5.1/SSR/transfer_log.json
/TotalCommand/User/User.ini
